@inherits UmbracoViewPage<CountrySelectorViewModel>

@if (Model?.Countries != null && Model.Countries.Any() && Model.Current != null)
{
    <div class="country-selector">
        <span>
            @Umbraco.GetDictionaryValue(DictionaryItems.Country):
        </span>
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="flag @Model.Current.Name.ToLower()"></i>
            @Model.Current.CountryName
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var country in Model.Countries)
            {
                if (country.Id.Equals(Model.Current.Id))
                {
                    <li>
                        <a href="@country.Url">
                            <i class="flag @country.Name.ToLower()"></i>
                            <strong>@country.CountryName</strong>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@country.Url">
                            <i class="flag @country.Name.ToLower()"></i>
                            @country.CountryName
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
}