@inherits UmbracoViewPage<IEnumerable<CountryPage>>

@if (Model != null && Model.Any())
{
    <div class="country-selector">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            @Umbraco.GetDictionaryValue(DictionaryItems.Country)
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var country in Model)
            {
                if (country.Selected)
                {
                    <li>
                        <a href="@country.Url">
                            <i class="flag @country.Name.ToLower()"></i>
                            <strong>@country.CountryName</strong>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@country.Url">
                            <i class="flag @country.Name.ToLower()"></i>
                            @country.CountryName
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
}