@inherits UmbracoViewPage<LanguageSelectorViewModel>

@if (Model?.Languages?.Count() > 1 && Model.Current != null)
{
    <div class="language-selector">
        <div class="dropdown">
            <span>
                @Umbraco.GetDictionaryValue(DictionaryItems.Language):
            </span>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="language-selector-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.Current.LanguageName
            </button>
            <div class="dropdown-menu" aria-labelledby="language-selector-dropdown">
                @foreach (var language in Model.Languages)
                {
                    if (language.Id.Equals(Model.Current.Id))
                    {
                        <a class="dropdown-item" href="@language.HomePageUrl">
                            <strong>@language.LanguageName</strong>
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item" href="@language.HomePageUrl">
                            @language.LanguageName
                        </a>
                    }
                }
            </div>
        </div>
    </div>
}